# Ignore all dot files except .gitignore
.*
!/.gitignore

# Ignore the production key file.
/keys/

# Compiled Python
__pycache__
*.pyc

# Logs
*.log

# SQLite Databases
*.sqlite3

# Virtual Environments
/.venv/
/venv/

# Project Directories
/media/
/staticfiles/
/static/
/logs/
/backups/
/dev_data/