<section class="tab" data-section="create-meme">
    <h2 class="title is-size-4 sec-title">Create Meme</h2>

    <div class="section-content">
        <strong>Select Template:</strong>
        <br>
        <div class="default-template-cont">
            <div id="default-templates" class="default-template-img-cont">

            </div>
        </div>
        <br><br>
        <div class="create-meme-preview">
            <div class="meme-container" id="preview">
                <img src="" alt="Meme" class="meme-image" id="memeImage">
                <div class="meme-text meme-text-top" id="memeTextTop"></div>
                <div class="meme-text meme-text-bottom" id="memeTextBottom"></div>
            </div>
            <div>
                <form id="create-meme-form">
                    <input type="text" class="is-hidden" name="template_slug">
                    <div class="field">
                        <label class="label">Top Text</label>
                        <div class="control">
                            <input type="text" class="input" name="top_text" value="Top Text" placeholder="Top Text">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Bottom Text</label>
                        <div class="control">
                            <input type="text" class="input" name="bottom_text" value="Bottom Text" placeholder="Bottom Text">
                        </div>
                    </div>
                    <button class="button" type="submit">Create Meme</button>
                </form>
            </div>
        </div>
    </div>
</section>