<section class="tab" data-section="feed">
    <div class="tabs is-centered is-boxed">
        <ul>
          <li class="is-active">
            <a class="section-tab" data-tab="popular">
              <span class="icon is-small"><i class="fas fa-fire" aria-hidden="true"></i></span>
              <span>For You</span>
            </a>
          </li>
          <li>
            <a class="section-tab" data-tab="friends">
              <span class="icon is-small"><i class="fas fa-user-friends" aria-hidden="true"></i></span>
              <span>Friends</span>
            </a>
          </li>
        </ul>
      </div>
    <div class="section-content">
        <div class="meme-list" id="feed-memes">
        </div>
        <div style="width: 100%; display: flex; justify-content: center; margin-top: 24px;">
            <button class="button is-success is-large view-more-button" data-section="feed">View More</button>
        </div>
    </div>
</section>