
{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Memebook</title>
{% endblock %}
{% block body %}
<header>
    {% include 'nav.html' %}
</header>
<script>
    window.PROFILE = JSON.parse('{{ profile_json }}'.split('&quot;').join('"'));
    window.WEBSOCKET_PROTOCOL = '{{ LOCAL }}' == 'True' ? 'ws://' : 'wss://';
</script>
<main class="main">
    <section class="section">
    <div class="container">
        <div>
        <div class="columns">
            <div id="content" class="column">
                <div id="sections">
                    {% include 'create-meme.html' %}
                    {% include 'profile.html' %}
                    {% include 'view-meme.html' %}
                    {% include 'feed.html' %}
                    {% include 'loader-view.html' %}
                    {% include 'messaging.html' %}
                    {% include 'search.html' %}
                </div>
            </div>
        </div>
        </div>
    </div>
    </section>
</main>
{% endblock %}

{% block additional_js %}
<script src="{% static 'main/js/create-meme.js' %}"></script>
<script src="{% static 'main/js/profile.js' %}"></script>
<script src="{% static 'main/js/search.js' %}"></script>
<script src="{% static 'main/js/feed.js' %}"></script>
<script src="{% static 'main/js/view-meme.js' %}"></script>
<script src="{% static 'main/js/messaging.js' %}"></script>
<script src="{% static 'main/js/index.js' %}"></script>
{% endblock %}