{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h1 class="title has-text-centered">Login</h1>
                    <div class="box">
                        <form id="login-form">
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" name="email" placeholder="Email" value="lake.bailey@icloud.com">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                                <p class="help is-danger is-invisible">Text</p>
                            </div>

                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="password" name="password" placeholder="Password" value="205602205602">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                <p class="help is-danger is-invisible">Text</p>
                            </div>

                            <div class="field">
                                <button class="button is-primary is-fullwidth" type="submit">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'main/js/login.js' %}"></script>
{% endblock %}
