<section class="tab" data-section="messaging">
    <h2 class="title is-size-4 sec-title">Messages</h2>

    <div class="section-content">
        <div class="columns">
            <div class="column is-one-quarter recipients">
                <div class="field">
                    <div class="control">
                        <input type="text" class="input is-small" name="search_input" id="friend-search-input">
                    </div>
                </div>
                <div class="friends-list">
                </div>
            </div>
            <div class="column messages">
                <div class="chat-container">
                    <div id="message-list" class="message-list">

                    </div>
                    <form id="chat-message-form" class="message-form">
                        <input id="chat-message-input" type="text">
                        <input id="chat-message-submit" type="button" value="Send">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>