<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item section-load" data-section="feed">
        <h1 class="title is-size-6">Memebook</h1>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-main">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-main" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item section-load" data-section="feed">
          Feed
        </a>
        <a class="navbar-item section-load" data-section="create-meme">
          Create Meme
        </a>

        <a class="navbar-item section-load" data-section="profile">
          Profile
        </a>
        <a class="navbar-item section-load" data-section="messaging">
          Messaging
        </a>
        <a class="navbar-item section-load" data-section="search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if logged_in %}
              <a class="button is-light" href="/logout/">Log Out</a>
            {% else %}
              <a class="button is-primary" href="/signup/">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="/login/">
                Log in
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>