<section class="tab" data-section="search">
    <h2 class="title is-size-4 sec-title">Find Friends</h2>

    <div class="section-content">
        <form class="search-form" id="search-form">
            <div class="field">
                <div class="control">
                    <input type="text" class="input" name="search_input" placeholder="First name, last name, etc.">
                </div>
            </div>
            <button class="button" type="submit">Search</button>
        </form>
    </div>
    <div id="search-results">
    </div>
</section>