{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h1 class="title has-text-centered">Sign up</h1>
                    <div class="box">
                        <form id="signup-form">
                            <div class="columns">
                                <div class="column">
                                    <div class="field">
                                        <label class="label">First Name</label>
                                        <div class="control">
                                            <input class="input" type="text" name="first_name" placeholder="First Name">
                                        </div>
                                        <p class="help is-danger is-invisible">Text</p>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label class="label">Last Name</label>
                                        <div class="control">
                                            <input class="input" type="text" name="last_name" placeholder="Last Name">
                                        </div>
                                        <p class="help is-danger is-invisible">Text</p>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" name="email" placeholder="Email">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                                <p class="help is-danger is-invisible">Text</p>
                            </div>

                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="password" name="password" placeholder="Password">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                <p class="help is-danger is-invisible">Text</p>
                            </div>

                            <div class="field">
                                <label class="label">Confirm Password</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="password" name="confirm_password" placeholder="Confirm Password">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                <p class="help is-danger is-invisible">Text</p>
                            </div>

                            <div class="field">
                                <button class="button is-primary is-fullwidth" type="submit">Sign up</button>
                            </div>
                        </form>
                    </div>
                    <p class="has-text-centered">
                        Already have an account? <a href="#">Log in</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'main/js/signup.js' %}"></script>
{% endblock %}
